form.ezdefi {
  span.error {
    color: red;
    font-style: italic;
  }

  span.correct {
    display: block;
    color: #567622;
  }

  input.error,
  input.error:focus {
    border-color: red;
  }

  input[name='EZDEFI_API_KEY'] {
    &.pending {
      background-image: url(../images/spinner-2x.gif) !important;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 99% center;
    }
  }

  input[name='EZDEFI_PUBLIC_KEY'] {
    &.pending {
      background-image: url(../images/spinner-2x.gif) !important;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 99% center;
    }
  }

  input {
  }
}
