form.ezdefi span.error {
  color: red;
  font-style: italic;
}
form.ezdefi span.correct {
  display: block;
  color: #567622;
}
form.ezdefi input.error,
form.ezdefi input.error:focus {
  border-color: red;
}
form.ezdefi input[name=EZDEFI_API_KEY].pending {
  background-image: url(../images/spinner-2x.gif) !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 99% center;
}
form.ezdefi .ezdefi-method fieldset label {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
}
form.ezdefi .ezdefi-method fieldset label input {
  float: left;
  margin-top: 4px;
  margin-right: 3px;
}
form.ezdefi #ezdefi-currency-table {
  overflow-x: auto;
}
form.ezdefi #ezdefi-currency-table thead th.sortable-zone {
  width: 24px;
}
form.ezdefi #ezdefi-currency-table thead th.sortable-zone .help-tip {
  color: #666;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  cursor: help;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
form.ezdefi #ezdefi-currency-table thead th.logo {
  width: 32px;
}
form.ezdefi #ezdefi-currency-table thead th.name {
  min-width: 120px;
}
form.ezdefi #ezdefi-currency-table tbody tr.editing .view {
  display: none;
}
form.ezdefi #ezdefi-currency-table tbody tr.editing .edit {
  display: block;
}
form.ezdefi #ezdefi-currency-table tbody tr td {
  vertical-align: top;
}
form.ezdefi #ezdefi-currency-table tbody tr td .edit input,
form.ezdefi #ezdefi-currency-table tbody tr td .edit select {
  margin: 1px;
  padding: 3px 5px;
  height: auto;
  background-color: #f5f8f9;
  background-image: none;
  border: 1px solid #c7d6db;
  border-radius: 3px;
  color: #555;
  font-size: 12px;
}
form.ezdefi #ezdefi-currency-table tbody tr td .edit input[type=number] {
  width: 65px;
}
form.ezdefi #ezdefi-currency-table tbody tr td.sortable-handle {
  cursor: move;
  text-align: center;
  vertical-align: middle;
}
form.ezdefi #ezdefi-currency-table tbody tr td.sortable-handle span {
  width: 12px;
  font-size: 12px;
  color: #999;
  display: block;
  line-height: 24px;
}
form.ezdefi #ezdefi-currency-table tbody tr td.sortable-handle:hover span {
  color: #333;
}
form.ezdefi #ezdefi-currency-table tbody tr td.logo {
  vertical-align: middle;
}
form.ezdefi #ezdefi-currency-table tbody tr td.logo img {
  display: block;
  width: 26px;
}
form.ezdefi #ezdefi-currency-table tbody tr td.name {
  min-width: 200px;
}
form.ezdefi #ezdefi-currency-table tbody tr td.name .view span {
  text-transform: capitalize;
}
form.ezdefi #ezdefi-currency-table tbody tr td.name .edit .select2-container {
  min-width: auto !important;
}
form.ezdefi #ezdefi-currency-table tbody tr td.name .edit .select2-container .select2-selection {
  text-transform: capitalize;
}
form.ezdefi #ezdefi-currency-table tbody tr td.wallet .edit input {
  width: 100%;
}
form.ezdefi #ezdefi-currency-table tbody tr td.decimal .error.decimal-warning {
  display: block;
}
form.ezdefi #ezdefi-currency-table tbody tr td .actions {
  padding: 2px 0 0;
  position: static;
  left: -9999em;
}
form.ezdefi #ezdefi-currency-table tbody tr td .view {
  display: block;
}
form.ezdefi #ezdefi-currency-table tbody tr td .edit {
  display: none;
}

.select2-currency {
  display: flex;
  align-items: center;
}
.select2-currency .select2-currency__icon {
  margin-right: 10px;
}
.select2-currency .select2-currency__icon img {
  width: 24px;
  display: block;
}
.select2-currency .select2-currency__name {
  text-transform: capitalize;
}

/*# sourceMappingURL=settings.css.map */
